<!DOCTYPE html>
<html>
<head>
	 <meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mainstyle_gt.css') }}">
</head>
<body>
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-sm-12"> <h1> Qui est le roi de tous les jeux de Go? </h1></div>
			</div>
			<div class="row">
				<div class="col-hidden-sm col-hidden-xs col-md-1"></div>
				<form method="POST" name="champion">
					<div class="col-md-5 col-sm-12 col-xs-12 text-center responsive-buttons">
						<button class="btn btn-large btn-primary" name="champion" value="Jan-Philippe" onclick="this.form.submit()"> JP est le roi du GO du monde</button>
					</div>
					<div class="col-md-5 col-sm-12 col-xs-12 text-center responsive-buttons">
						<button class="btn btn-large btn-primary" name="champion" value="François" onclick="this.form.submit()">François pète JP comme un noob</button>
					</div>
				</form>
				<div class="col-hidden-sm col-hidden-xs col-md-1">
			</div>
		</div>
		<div class="row">
			<h2> Le joueur victorieux est actuellement {{name}}</h2>
		</div>
	</div> 	
</body>
</html>
