{% extends 'login_layout.html' %}
{% from "formhelpers.html" import render_field %}
{% block form %}
    <form class="register-form", method="POST">
      {{ render_field(form.username, placeholder="Choose a username") }}
      {{ render_field(form.email, placeholder="Enter your email address") }}
      {{ render_field(form.password, placeholder="Choose a password") }}
      {{ render_field(form.confirm, placeholder="Confirm your password") }}
      <button>create</button>
      <p class="message">Already registered? <a href={{ url_for('login') }}>Sign In</a></p>
    </form>
{% endblock %}